<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <listener>
        <listener-class>com.mtriff.services.DatabaseUpdateScheduler</listener-class>
    </listener>
    
	<display-name>EarthquakeViz Application</display-name>

	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.mtriff.resources</param-value>
		</init-param>
       <init-param>
              <param-name>jersey.config.server.provider.classnames</param-name>
              <param-value>
                  org.glassfish.jersey.server.mvcfreemarker.FreemarkerMvcFeature
              </param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>com.mtriff.EarthquakeVizApplication</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>com.mtriff.EarthquakeVizApplication</param-value>
    </init-param>
    <init-param>
        <param-name>jersey.config.freemarker.TemplateBasePath.freemarker</param-name>
        <param-value>/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>com.mtriff.EarthquakeVizApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>